.cardComponent{
    position: relative; 
    width : 300px; 
    height: 350px; 
    border : 1px solid #000; 
    border-radius: 15px;
    margin-bottom: 20px; 
}

.logo{
        width:  300px; 
        height: 60px;
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px;
 }

 .logo-image{
    margin : 10px 0 0 10px;
    width: 200px; 
    height: 50px;
}

.card-image{
    width : 300px;
    height : 250px;
}

.price{
    margin: 5px 0 0 5px;
}

.btn-div {
    position: relative; 
    margin: 0px auto; 
    width : 120px; 
    height: 30px; 
    bottom: 40px;

}



.btn{

    outline: none;
    padding: 5px;
    width: 150px;
    border-radius: 10px;

}
.add{

    background-color: #bbf7ad; 
    border: 2px solid #45ad2d; 
    color: #1a7a04;
    font-weight: bold;
}

.remove{

    background-color : #efbdc0; 
    border: 2px solid #e51616; 
    color: #e51616;
    font-weight: bold;

}